# Node modules
node_modules/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/

# Frontend specific (paths relative to root)
frontend/node_modules/
frontend/dist/
frontend/build/

# Backend specific (paths relative to root)
backend/node_modules/
backend/dist/